# Treat R documentation as prose
*.Rd linguist-documentation

# Ignore tests from language graph statistics
tests/** linguist-vendored

# Ignore pkgdown from language graph
pkgdown/** linguist-vendored