{{! pkgdown 2.2.1's BS5 navbar.html, with the version as a plain link to the home page. }}
{{#navbar}}
<nav class="navbar navbar-expand-lg fixed-top {{#bg}}bg-{{{.}}}{{/bg}}" {{#type}}data-bs-theme="{{{.}}}"{{/type}} aria-label="{{#translate}}{{site_nav}}{{/translate}}">
  <div class="container">
    {{#includes}}{{{before_title}}}{{/includes}}
    <a class="navbar-brand me-2" href="{{#site}}{{root}}{{/site}}index.html">{{#site}}{{title}}{{/site}}</a>

    <a class="nav-text small text-muted text-decoration-none me-auto" href="{{#site}}{{root}}{{/site}}index.html">{{#package}}{{version}}{{/package}}</a>

    {{#includes}}{{{before_navbar}}}{{/includes}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="{{#translate}}{{toggle_nav}}{{/translate}}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar" class="collapse navbar-collapse ms-3">
      {{#left}}
      <ul class="navbar-nav me-auto">
      {{{.}}}
      </ul>
      {{/left}}

      {{#right}}
      <ul class="navbar-nav">
      {{{.}}}
      </ul>
      {{/right}}
    </div>

    {{#includes}}{{{after_navbar}}}{{/includes}}
  </div>
</nav>
{{/navbar}}
